<div class = 'row'>
  <div class = 'options_s'>
    <div class = 'row' id = 'firstname'>
      Suchaaver
    </div>
    <div class = 'row' id = 'lastname'>
       Chahal
    </div>
    <hr>
    <ul id = 'options_list'>
      <li><% if current_page?(suchaaver_projects_path) || current_page?(suchaaver_project_path(@project)) %>
          <div class = 'row' id = 'with_triangle'>
            <p id="triangle_left"></p>
            <div class = 'small-12 columns'>
                <%= link_to 'Projects', suchaaver_projects_path, class: 'options_current'%>
            </div>
          </div>
          <% else %>
            <%= link_to 'Projects', suchaaver_projects_path,class: 'options_link'%>         
      <%end%></li>    
      <li><% if current_page?(suchaaver_musings_path) || current_page?(suchaaver_musing_path(@musing)) %>
          <div class = 'row' id = 'with_triangle'>
            <p id="triangle_left"></p>
            <div class = 'small-12 columns'>
                <%= link_to 'Musings', suchaaver_musings_path, class: 'options_current'%>
            </div>
          </div>
          <% else %>
            <%= link_to 'Musings', suchaaver_musings_path,class: 'options_link'%>         
      <%end%></li>    
      <li><% if current_page?(joraaver_path) || current_page?(suchaaver_path) %>
          <div class = 'row' id = 'with_triangle'>
            <p id="triangle_left"></p>
            <div class = 'small-12 columns'>
                <%= link_to 'About Me', suchaaver_path,class: 'options_current'%>
            </div>
          </div>
          <% else %>
            <%= link_to 'About Me', suchaaver_path,class: 'options_link'%>
          <%end%></li>
      <% if joraaver? %>
        <li><%= link_to 'My Twin', suchaaver_path ,class: 'options_link'%></li>
      <%  else %>
        <li><%= link_to 'My Twin', joraaver_path ,class: 'options_link'%></li>
      <%end %>
      <li><% if current_page?('/Suchaaver/goodies') %>
          <div class = 'row' id = 'with_triangle'>
            <p id="triangle_left"></p>
            <div class = 'small-12 columns'>
                <%= link_to 'Goodies', '/Suchaaver/goodies',class: 'options_current'%>
            </div>
          </div>
          <% else %>
            <%= link_to 'Goodies', '/Suchaaver/goodies',class: 'options_link'%>
          <%end%></li>
          <li><% if current_page?(new_suchaaver_s_contact_path) %>
          <div class = 'row' id = 'with_triangle'>
            <div class = 'small-12 columns'>
                <%= link_to 'Contact', new_suchaaver_s_contact_path,class: 'options_current'%>
            </div>
            <p id="triangle_right"></p>
          </div>
          <% else %>
            <%= link_to 'Contact', new_suchaaver_s_contact_path,class: 'options_link'%>
       <%end%></li>
       <li>
            <%= link_to 'Home', root_path ,class: 'options_link'%>
        </li>
    </ul>
  </div>
</div>

