<div class = 'row'>
  <div class = 'options_j'>
    <div class = 'row' id = 'firstname'>
      Joraaver
    </div>
    <div class = 'row' id = 'lastname'>
       Chahal
    </div>
    <hr>
    <ul id = 'options_list'>
      <li><% if current_page?(projects_path) || current_page?(project_path(@project)) %>
          <div class = 'row' id = 'with_triangle'>
            <div class = 'small-12 columns'>
                <%= link_to 'Projects', projects_path, class: 'options_current'%>
            </div>
            <p id="triangle_right"></p>
          </div>
          <% else %>
            <%= link_to 'Projects', projects_path ,class: 'options_link'%>         
      <%end%></li>    
      <li><% if current_page?(musings_path) || current_page?(musing_path(@musing)) %>
          <div class = 'row' id = 'with_triangle'>
            <div class = 'small-12 columns'>
                <%= link_to 'Musings', musings_path,class: 'options_current'%>
            </div>
            <p id="triangle_right"></p>
          </div>
          <% else %>
            <%= link_to 'Musings', musings_path ,class: 'options_link'%>         
      <%end%></li>    
      <li><% if current_page?(joraaver_path) || current_page?(suchaaver_path) %>
          <div class = 'row' id = 'with_triangle'>
            <div class = 'small-12 columns'>
                <%= link_to 'About Me', joraaver_path,class: 'options_current'%>
            </div>
            <p id="triangle_right"></p>
          </div>
          <% else %>
            <%= link_to 'About Me', joraaver_path,class: 'options_link'%>
      <%end%></li>
      <% if joraaver? %>
        <li><%= link_to 'My Twin', suchaaver_path ,class: 'options_link'%></li>
      <%  else %>
        <li><%= link_to 'My Twin', joraaver_path ,class: 'options_link'%></li>
      <%end %>
      <li><% if current_page?('/Joraaver/goodies') %>
          <div class = 'row' id = 'with_triangle'>
            <div class = 'small-12 columns'>
                <%= link_to 'Goodies', '/Joraaver/goodies',class: 'options_current'%>
            </div>
            <p id="triangle_right"></p>
          </div>
          <% else %>
            <%= link_to 'Goodies', '/Joraaver/goodies', class: 'options_link'%>
       <%end%></li>
        <li><% if current_page?(new_contacts_path)||:title =~Contact%>
          <div class = 'row' id = 'with_triangle'>
            <div class = 'small-12 columns'>
                <%= link_to 'Contact', new_contacts_path,class: 'options_current'%>
            </div>
            <p id="triangle_right"></p>
          </div>
          <% else %>
            <%= link_to 'Contact', new_contacts_path,class: 'options_link'%>
       <%end%></li>
       <li>
            <%= link_to 'Home', root_path ,class: 'options_link'%>
        </li>
    </ul>
  </div>
</div>

