<% provide(:title,"Musing")%>
<% if joraaver? %>
<div class = "row">
  <div class = "small-4 columns">
    <%= render 'shared/nav_j' %>
  </div>

<div class="row">
    <div class = "row">
      <div class = "small-4 small-offset-7 columns">
        <%= link_to "All Musings", musings_path, :class => 'blue_words', :id => "latest_proj_small"%>
      </div>
    </div>
    <div class = "row">
      <div class = "small-4 small-offset-5 columns">
        <p class = 'blue_words', id="all_proj_large"><%= @musing.title %></p>
      </div>
      <div class = "small-3 columns", id = 'musing_date'>
        <%= @musing.date %>
      </div>
    </div>
    <br />
    <div class = "row">
      <div class ="small-6 small-offset-5 columns">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
        <hr id = "header_pic">
      </div>
    </div> 
        
    <div class = "small-6 small-offset-5 columns", id = 'pic'>
      <%= image_tag  Image.find_by_musing_id(@musing.id).photo.url, :id => "first" %>
    </div>
    <div class = "row">
      <div class = "small-6 small-offset-5 columns">
        <p><%= @musing.post %></p>
      </div>
    </div>
    <div class = "row">
      <div class = "small-6 small-offset-5 columns">
        <h3>Comments </h3>
        <div id = "display_comment_form">
	  New Comment
        </div >
        <br />
        <div id = "form">
          <%= render 'comments/form' %>
        </div>
        <% @musing.comments.each do |c| %>
        <% if c.is_moderated %>
        <div class = "row">
          <div class = "small-2 columns">
	    <%= image_tag avatar_url(c) %>
          </div>
          <div class = "small-10 columns">
            <div class = "row">
              <div class = "small-12 columns">
                <ul class = "comment_info">
                  <li id="name"><%= c.name %></li>
                  <li id="posted">posted a comment</li>
                </ul>
	      </div>
	    </div>
            <div class = "row">
              <div class = "small-12 columns">	
        	<p id="body"><%= c.comment %> </p>
              </div>
	    </div>
	  </div>
        <%end %>
	<% end %>
      </div>
    </div>
</div>
</div>
<%else %>
  <div class = "row">
  <div class = "small-4 columns">
    <%= render 'shared/nav_s' %>
  </div>

<div class="row">
    <div class = "row">
      <div class = "small-4 small-offset-3 columns">
        <%= link_to "All Musings", suchaaver_musings_path(@musings), :class => 'blue_words', :id => "latest_proj_small"%>
      </div>
    </div>
    <div class = "row">
      <div class = "small-4 small-offset-1 columns">
        <p class = 'blue_words' id="all_proj_large"><%= @musing.title %></p>
      </div>
      <div class = "small-7 columns" id = 'musing_date'>
        <%= @musing.date %>
      </div>
    </div>
    <br />
    <div class = "row">
      <div class ="small-6 small-offset-1 columns">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
        <hr id = "header_pic">
      </div>
    </div> 
        
    <div class = "small-6 small-offset-1 columns", id = 'pic'>
      <%= image_tag  Image.find_by_musing_id(@musing.id).photo.url, :id => "first" %>
    </div>
    <div class = "row">
      <div class = "small-6 small-offset-1 columns">
        <p><%= @musing.post %></p>
      </div>
    </div>
    
    <div class = "row">
      <div class = "small-6 small-offset-1 columns">
        <h3>Comments </h3>
        <div id = "display_comment_form">
	  New Comment
        </div >
        <br />
        <div id = "form">
          <%= render 'comments/form' %>
        </div>
        <% @musing.comments.each do |c| %>
        <% if c.is_moderated %>
         <div class = "row">
          <div class = "small-2 columns">
	    <%= image_tag avatar_url(c) %>
          </div>
          <div class = "small-10 columns">
            <div class = "row">
              <div class = "small-12 columns">
                <ul class = "comment_info">
                  <li id="name"><%= c.name %></li>
                  <li id="posted">posted a comment</li>
                </ul>
	      </div>
	    </div>
            <div class = "row">
              <div class = "small-12 columns">	
        	<p id="body"><%= c.comment %> </p>
              </div>
	    </div>
	  </div>
        <% end %>
	<% end %>
      </div>
    </div>

</div>
</div>
<% end %>
